<% layout('layouts/boilerplate') %>

<h2 class="subhead">Tutorial</h2>


<div id = "content">
    <div id="tryingtocenterthiszoomthinghelpp">
        <table>
          <tr class = "darkmode">
            <td><div id = "text">
              <!-- The displays of these are invisible, they are here for the javascript -->
              <p id = "textBody"><%= text %> </p>
              <p id = "modifyList"><%= modifylist %></p>
    
              <!-- This is BLANK on purpose, javascript adds the text -->
              <p id = "choices"></p>
              <p id="text-corpus">
                
              </p>
            </div></td>
          </tr>
    
          <tr>
            <td><div id = "answers">
              <ul class="no-bullets">
                <li><a class = "option1 modifiers" href="#" onclick="next(0)"><%=modifiers[0]%></a></li>
                <li><a class = "option2 modifiers" href="#"  onclick="next(1)"><%=modifiers[1]%></a></li>
                <li><a class = "option3 modifiers" href="#"  onclick="next(2)"><%=modifiers[2]%></a></li>
              </ul>
            </div></td>
          </tr>
        </table>
    
      </div>
    
    </div>